workflow/auto-reply-agent.n8n.json
{
  "name": "auto reply agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-1344, 240],
      "id": "56019f09-8d0f-42e6-a314-bd4440f092eb",
      "name": "When receiving an email",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffb8b510-9924-4a6c-a164-a5a57f6ab9c7",
              "name": "firstName",
              "value": "={{ $json.from.value[0].name.trim().split(' ')[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1120, 240],
      "id": "c2a04869-e466-4db9-8fe0-9aa0579418b3",
      "name": "Set First Name"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-896, 448],
      "id": "5b3ad24d-1e83-4d2c-abdb-6093bec86a6a",
      "name": "GPT-5 mini",
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_OPENAI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sender: {{ $json.firstName }}\nSubject: {{ $json.subject }}\nContent: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You will receive an email sent from a student to the course teaching team. You are an AI agent named \"Course Assistant\" that will help them and connect them to the team.\n\nYour goal is to:\n- Reply to the email (choose title and content)\n- CC the correct team member to the email\n- Create a corresponding ticket in the teaching team's spreadsheet.\n\n# Categories\n\n- *administrative*: administrative question(s) or information  (e.g., when is the final exam; I cannot attend next class, etc..)\n- *content*: course content question(s) (e.g., what's an LLM?)\n- *n8n*: technical questions about n8n\n- *project*: question about the individual class project.\n- *other*: anything that is hard to relate to the other categories.\n\n# Behavior\n\n- Use the name \"Course Assistant\" to sign the email.\n- Adopt the tone of a cheerful PhD student TA\n- In addition to the information provided here, use the Course Docs tool to reference other information about the class.\n- You do not necessarily have enough information to help the student. When in doubt, always prefer to be sincere about what you know and what you don't. And if you don't, mention that the person you CCed will help. If you have the information necessary to respond to all of the student's questions, set confidence to TRUE and otherwise, set it to FALSE.\n\n# Teaching Team:\n- Sebastien Martin\n  - main instructor\n  - instructor@example.edu\n  - role: anything important or that cannot be directed to another team member, such as personal situations and complex questions\n- Alex Jensen\n  - TA\n  - ta@example.edu\n  - role: anything relating to n8n, the final exam, and quick content questions\n- Jillian Law\n  - In-person class moderator\n  - moderator@example.edu\n  - role: anything relating to attendance, seating, and classroom rules"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-896, 240],
      "id": "7692a41c-a7e2-48a3-b314-f841152ab4fa",
      "name": "Category Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cb9f2b0-bcfd-4839-8db8-ae80bef2e4d7",
              "leftValue": "={{ $json.output.ticket_priority }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c99d880d-a26d-4188-9e32-c3c9fadaa809",
              "leftValue": "={{ $json.output.ticket_category }}",
              "rightValue": "other",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c77a2111-c9ad-4bc1-bdb9-d9cb3b187001",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-544, 240],
      "id": "227fbb55-8822-47e8-b308-f7be7b30edb0",
      "name": "If confident in response..."
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"response_content\",\n    \"response_cc\",\n    \"ticket_description\",\n    \"ticket_category\",\n    \"ticket_cc\",\n    \"ticket_priority\",\n    \"ticket_name\",\n    \"confidence\"\n  ],\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"response_content\": {\n      \"type\": \"string\",\n      \"description\": \"Formatted like a complete email content (e.g., starts with hi and ends with signature).\"\n    },\n    \"response_cc\": {\n      \"type\": \"string\",\n      \"description\": \"The email address of the person to CC. Nothing else.\"\n    },\n    \"ticket_description\": {\n      \"type\": \"string\",\n      \"description\": \"Just one sentence, to the point.\"\n    },\n    \"ticket_category\": {\n      \"type\": \"string\",\n      \"enum\": [\"administrative\", \"content\", \"n8n\", \"project\", \"other\"],\n      \"description\": \"One of the allowed categories.\"\n    },\n    \"ticket_cc\": {\n      \"type\": \"string\",\n      \"description\": \"The full name of the person corresponding to the CCed email address.\"\n    },\n    \"ticket_name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the student; if unknown, their email.\"\n    },\n    \"ticket_priority\": {\n      \"type\": \"string\",\n      \"description\": \"Priority label (e.g., low/medium/high).\"\n    },\n    \"confidence\": {\n      \"type\": \"boolean\",\n      \"description\": \"Model's confidence in the category/route; true if the answer to all of the questions is known and false otherwise.\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-752, 448],
      "id": "633e5562-f20a-4510-ab64-b007360f1dd4",
      "name": "agent decision format"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('When receiving an email').item.json.threadId }}",
        "messageId": "REPLACE_WITH_MESSAGE_ID",
        "message": "={{ $json.output.response_content }}",
        "options": {
          "ccList": "={{ $json.output.response_cc }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-336, 112],
      "id": "84fd50d3-aa39-4558-89a2-004ccb72217d",
      "name": "Reply to a message (w/CC)",
      "webhookId": "REPLACE_WITH_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('When receiving an email').item.json.threadId }}",
        "messageId": "REPLACE_WITH_MESSAGE_ID",
        "message": "={{ $json.output.response_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-336, 368],
      "id": "2339e809-67ef-4e8b-8d7a-6819f40d8fbf",
      "name": "Reply to a message (no CC)",
      "webhookId": "REPLACE_WITH_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GMAIL_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SHEET_ID",
          "mode": "list",
          "cachedResultName": "support ticketing agent",
          "cachedResultUrl": "REPLACE_WITH_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "REPLACE_WITH_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket name": "={{ $json.output.ticket_name }}",
            "ticket cc": "={{ $json.output.ticket_cc }}",
            "ticket category": "={{ $json.output.ticket_category }}",
            "ticket description": "={{ $json.output.ticket_description }}"
          },
          "matchingColumns": ["ite"],
          "schema": [
            { "id": "ticket name", "displayName": "ticket name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "ticket cc", "displayName": "ticket cc", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "ticket category", "displayName": "ticket category", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "ticket description", "displayName": "ticket description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-144, 240],
      "id": "cfbfe82b-ec50-44e9-a581-c4ef1189fe0a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_SHEETS_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When receiving an email": {
      "main": [[{ "node": "Set First Name", "type": "main", "index": 0 }]]
    },
    "Set First Name": {
      "main": [[{ "node": "Category Agent", "type": "main", "index": 0 }]]
    },
    "GPT-5 mini": {
      "ai_languageModel": [[{ "node": "Category Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Category Agent": {
      "main": [[{ "node": "If confident in response...", "type": "main", "index": 0 }]]
    },
    "If confident in response...": {
      "main": [
        [
          { "node": "Reply to a message (w/CC)", "type": "main", "index": 0 },
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ],
        [
          { "node": "Reply to a message (no CC)", "type": "main", "index": 0 },
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ]
      ]
    },
    "agent decision format": {
      "ai_outputParser": [[{ "node": "Category Agent", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c847d7eb-6cc4-46ac-81ef-e9832f22b657",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_ON_IMPORT"
  },
  "nodeGroups": [],
  "id": "BV7lRACNujVpbWqq",
  "tags": []
}
