workflow/course-qa-agent.n8n.json
{
  "name": "Auto Student Support Reply Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": ["INBOX"]
        }
      },
      "id": "1a1e6f2e-0001-4a1a-9a1a-000000000001",
      "name": "When receiving an email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-400, 0],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Course Inbox Gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "firstName",
              "stringValue": "={{ $json.from.value[0].name.split(' ')[0] }}"
            }
          ]
        }
      },
      "id": "1a1e6f2e-0002-4a1a-9a1a-000000000002",
      "name": "Set First Name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Student first name: {{ $json.firstName }}\nSubject: {{ $('When receiving an email').item.json.subject }}\nEmail body:\n{{ $('When receiving an email').item.json.text }}",
        "options": {
          "systemMessage": "See docs/category-agent-prompt.md in the repo for the full system prompt and confidence rubric. Summary: answer only from the course-material tool, assign a 0.0-1.0 confidence score, and only set confident=true at >=0.7."
        },
        "hasOutputParser": true
      },
      "id": "1a1e6f2e-0003-4a1a-9a1a-000000000003",
      "name": "Category Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [80, 0]
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "id": "1a1e6f2e-0004-4a1a-9a1a-000000000004",
      "name": "GPT-5 mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [0, 220],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 6
      },
      "id": "1a1e6f2e-0005-4a1a-9a1a-000000000005",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [90, 220]
    },
    {
      "parameters": {
        "name": "course_material_lookup",
        "description": "Search the syllabus and course materials for content relevant to the student's question. Input: a search query string. Output: the most relevant excerpt(s) with their source."
      },
      "id": "1a1e6f2e-0006-4a1a-9a1a-000000000006",
      "name": "Course Material Lookup",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [180, 220]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"category\", \"answer\", \"confident\", \"confidence_score\", \"reasoning\"],\n  \"properties\": {\n    \"category\": { \"type\": \"string\", \"enum\": [\"logistics\", \"grading\", \"content\", \"extension_or_accommodation\", \"other\"] },\n    \"answer\": { \"type\": \"string\" },\n    \"confident\": { \"type\": \"boolean\" },\n    \"confidence_score\": { \"type\": \"number\" },\n    \"reasoning\": { \"type\": \"string\" }\n  }\n}"
      },
      "id": "1a1e6f2e-0007-4a1a-9a1a-000000000007",
      "name": "agent decision format",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [270, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.confident }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "1a1e6f2e-0008-4a1a-9a1a-000000000008",
      "name": "If confident in response...",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('When receiving an email').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('Category Agent').item.json.output.answer }}",
        "options": {
          "ccList": "={{ $env.TEACHING_TEAM_LEAD_EMAIL }}"
        }
      },
      "id": "1a1e6f2e-0009-4a1a-9a1a-000000000009",
      "name": "Reply to a message (w/CC)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, -160],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Course Inbox Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('When receiving an email').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('Category Agent').item.json.output.answer }}",
        "options": {}
      },
      "id": "1a1e6f2e-0010-4a1a-9a1a-000000000010",
      "name": "Reply to a message (no CC)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 160],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Course Inbox Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "REPLACE_WITH_SHEET_ID"
        },
        "sheetName": {
          "value": "Backlog"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "from": "={{ $('When receiving an email').item.json.from.value[0].address }}",
            "subject": "={{ $('When receiving an email').item.json.subject }}",
            "category": "={{ $('Category Agent').item.json.output.category }}",
            "confident": "={{ $('Category Agent').item.json.output.confident }}",
            "confidence_score": "={{ $('Category Agent').item.json.output.confidence_score }}",
            "answer": "={{ $('Category Agent').item.json.output.answer }}",
            "escalated": "={{ !$('Category Agent').item.json.output.confident }}"
          }
        }
      },
      "id": "1a1e6f2e-0011-4a1a-9a1a-000000000011",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [960, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Backlog Google Sheet"
        }
      }
    }
  ],
  "connections": {
    "When receiving an email": {
      "main": [[{ "node": "Set First Name", "type": "main", "index": 0 }]]
    },
    "Set First Name": {
      "main": [[{ "node": "Category Agent", "type": "main", "index": 0 }]]
    },
    "GPT-5 mini": {
      "ai_languageModel": [[{ "node": "Category Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory": {
      "ai_memory": [[{ "node": "Category Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Course Material Lookup": {
      "ai_tool": [[{ "node": "Category Agent", "type": "ai_tool", "index": 0 }]]
    },
    "agent decision format": {
      "ai_outputParser": [[{ "node": "Category Agent", "type": "ai_outputParser", "index": 0 }]]
    },
    "Category Agent": {
      "main": [[{ "node": "If confident in response...", "type": "main", "index": 0 }]]
    },
    "If confident in response...": {
      "main": [
        [{ "node": "Reply to a message (no CC)", "type": "main", "index": 0 }],
        [{ "node": "Reply to a message (w/CC)", "type": "main", "index": 0 }]
      ]
    },
    "Reply to a message (w/CC)": {
      "main": [[{ "node": "Append row in sheet", "type": "main", "index": 0 }]]
    },
    "Reply to a message (no CC)": {
      "main": [[{ "node": "Append row in sheet", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "REPLACE_ON_IMPORT"
  }
}
